<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ss_technology.hanguoilproject">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:requestLegacyExternalStorage="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.HanguOilProject"
        android:usesCleartextTraffic="true">
        <activity
            android:name=".Admin_Activity.InvestorPending_Balnace"
            android:exported="false" />
        <activity
            android:name=".Admin_Activity.InvestorUser"
            android:exported="false" />
        <activity
            android:name=".Admin_Activity.InvestorProfile"
            android:exported="false" />
        <activity
            android:name=".Admin_Activity.CreateApplication"
            android:exported="false"
            android:label="Create Application" />
        <activity
            android:name=".Admin_Activity.CustomerProfile"
            android:exported="false" />
        <activity
            android:name=".Admin_Activity.Customer_and_Investor_List"
            android:exported="false"
            android:theme="@style/No_Status_Bar" />
        <activity
            android:name=".Admin_Activity.Deliver_Application"
            android:exported="false"
            android:label="Deliver Application" />
        <activity
            android:name=".Admin_Activity.View_Application"
            android:exported="false"
            android:label="Application Details" />
        <activity
            android:name=".Admin_Activity.ApplicationList"
            android:exported="true" />
        <activity
            android:name=".Admin_Activity.ShopkeeperProfile"
            android:exported="true" />
        <activity
            android:name=".Admin_Activity.ShopKeeperList"
            android:exported="true"
            android:label="Shopkeeper List" />
        <activity
            android:name=".Admin_Activity.AdminProflie"
            android:exported="true"
            android:label="@string/title_activity_admin_proflie" />
        <activity
            android:name=".Admin_Activity.AdminLIst"
            android:exported="true"
            android:theme="@style/No_Status_Bar" />
        <activity
            android:name=".Admin_Activity.AddInvestor"
            android:exported="true"
            android:label="Add investor" />
        <activity
            android:name=".Admin_Activity.AddCustomer"
            android:exported="true"
            android:label="Add Customer" />
        <activity
            android:name=".Admin_Activity.CompanyInfo"
            android:exported="true"
            android:label="Company Info" />
        <activity
            android:name=".Admin_Activity.Profile"
            android:exported="true"
            android:label="Profile" />
        <activity
            android:name=".DBS_Shop_Activity.Gen_Accessory_Bill"
            android:exported="true"
            android:label="Generate Accessory Bill" />
        <activity
            android:name=".DBS_Shop_Activity.GenerateMobileBill"
            android:exported="true"
            android:label="Generate Mobile Bill" />
        <activity
            android:name=".DBS_Shop_Activity.ShopkeeperHome"
            android:exported="true"
            android:label="DBS Shop" />
        <activity
            android:name=".DBS_Shop_Activity.ShopkeeperLogin"
            android:exported="true"
            android:label="Shopkeeper Login" />
        <activity
            android:name=".Admin_Activity.Admin_Home"
            android:label="DBS INSTALMENT"
            android:theme="@style/Theme.HanguOilProject.NoActionBar" />
        <activity
            android:name=".Activity.MainActivity"
            android:theme="@style/No_Status_Bar" />
        <activity
            android:name=".Activity.Splash_Screen"
            android:theme="@style/Splash_Screen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>